@tailwind base;
@tailwind components;
@tailwind utilities;


.navBarActive{
    background-color: rgb(146, 27, 201);
}

.night{
    background: #737373;
    color: white;
    transition: .3s  ease;
    -webkit-transition: .3s  ease;
    -moz-transition: .3s  ease;
    -ms-transition: .3s  ease;
    -o-transition: .3s  ease;
}